<head>
    <style>

        body{
            background-image: url('/img/CrudGeral.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .mesaContainer{
            width: 100%;
            height: 600px;
            background-color: white;
            border-radius: 10px;
            box-shadow: 2px 2px 5px black;
            display: flex;
        }
        .mesaOptions{
            flex: 1;
            border: 1px solid red;
            display: flex;
            flex-direction: column;
        }
        .Option{
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .Option:hover{
            background-color: grey;
            transition: 0.7s;
        }
        
        .mesaContentContainer{
            margin-left: 10px;
            flex: 4;
            border: 1px solid black;
            display: flex;
            flex-direction: column;
        }
        .OptionOptions{
            flex:1;
            border: 1px solid green;
            display: flex;
        }
        .OptionsResults{
            flex: 8;
            display: flex;
            flex-direction: column;
        }
        .OptionsResultsResponse{
            flex: 4;
        }
        .OptionsResults{
            align-self: flex-end;
            margin: 5px;
        }
        
        .Pesquise{
            display: flex;
            align-items: center;
        }
    </style>
</head>

<body >
    <script>
    function teste(){
        // preciso aprender a criar inputs dinamicamente
        var newu = document.querySelector('.OptionOptions')
        if(newu.children.length < 2){
            arr_titlos = ['Nome', 'Idade', 'Email']
            arr_titlos.forEach((titulo)=>{
                console.log(titulo)
                if(titulo == 'Idade'){
                    div = document.createElement('div')
                    div.style.display = 'flex'
                    div.style.alignItems = 'center'
                    div.style.justifyContent = 'center'
                    div.style.border = '1px solid red'
                    div.style.padding = '5px'
                    div.setAttribute('name',`divUser${titulo}`)
                    newu.appendChild(div)

                    idadeTitle = document.createElement('h6')
                    titulo_ = document.createTextNode(titulo)
                    idadeTitle.appendChild(titulo_)
                    div.appendChild(idadeTitle)

                    input = document.createElement('INPUT')
                    input.setAttribute('type','number')
                    input.setAttribute('name',`UsersCampo${titulo}`)
                    input.setAttribute('id',`Campo${titulo}`)
                    input.setAttribute('class',`form-control`)
                    input.style.flex = '1'
                    div.appendChild(input)
                    console.log(div.childNodes)
                }else{
                    
                    div = document.createElement('div')
                    div.setAttribute('name',`divUser${titulo}`)
                    div.style.display = 'flex'
                    div.style.alignItems = 'center'
                    div.style.border = '1px solid red'
                    div.style.padding = '5px'
                    newu.appendChild(div)

                    input = document.createElement('INPUT')
                    input.setAttribute('type','text')
                    input.setAttribute('id',`UsersCampo${titulo}`)
                    input.setAttribute('placeholder',titulo)
                    input.setAttribute('class',`form-control`)
                    div.appendChild(input)

                    console.log(div.childNodes)

                }
            })
            console.log(newu.childNodes)

            
            
            
        }else{
            alert('Opção ja selecionada CARALHO')
        }
        
        
    }
    function filtraQuery(){
        var divResultado = document.getElementsByClassName('OptionResultsResponse')
        inputNome = document.getElementsByName('UsersCampoNome')
        inputIdade = document.getElementById('CampoIdade')

        console.log(inputIdade.value)
        
    }
</script>
    <div class="mesaContainer">
        <div class='mesaOptions'>
            <div class="Option" onclick="teste()">
                Users
            </div>
            <div class="Option">
                Alunos
            </div>
            <div class="Option">
                Musculação
            </div>
            <div class="Option">
                Cross
            </div>

        </div>
        <div class="mesaContentContainer">
            <div class="OptionOptions">
                <div class="Pesquise">
                    <h6>Pesquise por:</h6>
                </div>
                
            </div>
            <div class="OptionsResults">
                <div class="OptionsResultsResponse">
                    oi
                </div>
                <div class="botaoResults">
                    <button class="btn btn-success" onclick="filtraQuery()" >pesquisar</button>
                </div>
            </div>
 
        </div>

    </div>
</body>
