<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/_css/AdminCss.css" media="screen" type="text/css">
    <style>
        .containerAdminMain{
            height: 500px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            padding: 10px;
            border: 1px solid #e7e7e7;
            align-items: center;
            border-radius: 10px;
        }
        .containerCrud{
            width: 45%;
            height: 220px;
            border-radius: 10px;
            box-shadow: 5px 5px 5px rgb(226, 226, 226);
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .containerCrud:hover{
            background-color: rgb(170, 170, 170);
            transition: 0.7s;
        }
        a{
            color: black;
            text-decoration: none;
        }
        a:hover{
            color: white;
            transition: 0.7s;
        }

    </style>
</head>
<body>
    <h1>ADMIN CONTENT</h1>
    {{#if dados}}
        <h6 class="alert alert-dark">Bem vindo admin {{dados.userName}}!</h6>
        
    {{/if}}  
    {{#if dados_atualiza}}
        <h6 class="alert alert-dark" >{{dados_atualiza}} </h6>
    {{/if}} 
    <div class="containerAdminMain" >
        <div class="containerCrud" >
           <h3><a href="/admin/userCrud">Vizualizar todos os usuarios</a></h3> 
        </div>
        <div class="containerCrud" >
           <h3><a href="/admin/AlunoCrud">Vizualizar todos os alunos</a></h3> 
        </div>
        <div class="containerCrud" >
           <h3><a href="/admin/CrudGeral">Filtros avançados</a></h3> 
        </div>
    </div>
    
</body>
</html>