<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.css">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina principal</title>
    <link rel="stylesheet" href="../assets/_css/containerOptionsAdmin.css" media="screen" type="text/css">
    <style>
        
        .containerFlexDivideDuasColunas{
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            box-shadow: 2px 2px 10px #e5e5e5;
            border-radius: 10px;
            border: 2px solid grey;
            padding: 10px;
        }
        .borderRigth{
            border-right: 5px solid #333333;
        }
        .containerFLexDoisItens{
            display: flex;
            width: 100%;
            border-bottom: 1px solid #e7e7e7;
            margin-top: 10px;
            margin-bottom: 10px;
            border-radius: 15px;
            background-color: #f0f0f0;
            padding: 10px;
            border: 2px solid #333333;
            box-shadow: 3px 3px 8px #333333;
        }
        .containerMenor{
            justify-content: center;
            align-items: center;
            display: flex;
            flex: 1;
            height: fit-content;
            flex-direction: column;
            
        }
        .containerMenor small{
            border-bottom: 4px solid #979797;
        }
        .blocoUsersMain{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 60%;
            padding: 20px;
        }
        .blocoUSers{
            border-radius: 10px;
            display: flex;
            padding: 5px;
            width: 100%;
            background-color: #ececec;
            justify-content: center;
            flex-direction: column;
            border: 1px solid #e7e7e7;
        }
        .BotaoVerificaInput{
            width: 90px;
            height: 35px;
            background-color: rgb(98, 98, 255);
            margin-top: 10px;display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
        }
        .padding{
            padding:10px;
        }
    </style>
</head>
<body>
        {{#each session}}
            <input type="hidden" name="session{{@key}}" value="{{this}}">
        {{/each}}
    {{>_navbar}} 
    <div class="container mt-4 " >
        {{{body}}}
    </div>
    
    <script src="../../scriptsJS/scriptsFrontEnd.js"></script>
    
</body>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
<script src="/js/bootstrap.js"></script>
</html>