


{{#each array_Com_Musculos}}
    <div class="card">
        <div class="card-body">
            
            <h4>{{porcoes}}</h4>
            {{#each porcoes}}
                <small>{{this.[]}}</small>
            {{/each}}
            
        </div>
    </div>
{{/each}}