<h1>Lista de musculos</h1>

<div class="card">
    <div class="card-body" >
        <form action="/treinos/mostraMusculo" method="POST">
    <label for="musc">Nome do musculo:</label>
    <input class="form-control mt-4" type="text" name="musc" id="musc" >
</form>
<a href="/treinos/Musculos/mostra"><button type="submit" class="btn btn-success mt-4">Pesquisar Musculo</button></a> 
    </div>
</div>