<h1>ALUNOS CAD</h1>

<div class="conatiner geral" >
    <form action="" method="POST">
        <div class="card mt-4 padding" >
            <h3>Dados gerais</h3>
            <div class="dados_gerais card-body" >
                <label for="nome">Nome</label>
                <input class="form-control" type="text" name="nome" value="{{dados.nome}}">
                <label for="email">Email</label>
                <input class="form-control" type="text" name="email" value="{{dados.email}}">
                <label for="sexo">Sexo</label>
                <select class="form-control" type="text" name="sexo">
                    <option value="M">Masculino</option>
                    <option value="F">Feminino</option>
                </select>
                <input type="hidden" name="nascimento" value="{{dados.nascimentoISO}}">
                <label for="peso">Peso</label>
                <input class="form-control" type="number" name="peso" value="Seu peso em KG">
                <label for="nascimento">Nascimento</label>
                <input class="form-control" type="text" name="nascimento" value="{{dados.nascimento}}">
                <label for="altura">Altura</label>
                <input class="form-control" type="text" name="altura" value="Sua altura em metros">
            </div>
        </div>
        <div class="card mt-4 padding">
            <h3>7 DOBRAS (Cm.mm)</h3>
            <div class="7dobras card-body">
                <label for="tricipital">Tricipital</label>
                <input type="number" class="form-control" name="tricipital" value="mm">
                <label for="subescapular">Subescapular</label>
                <input type="number" class="form-control" name="subescapular" value="mm">
                <label for="tricipital">Tricipital</label>
                <input type="number" class="form-control" name="tricipital" value="mm">
                <label for="peitoral">Peitoral</label>
                <input type="number" class="form-control" name="peitoral" value="mm">
                <label for="axilar_media">Axilar-média</label>
                <input type="number" class="form-control" name="axilar_media" value="mm">
                <label for="abdominal">Abdominal</label>
                <input type="number" class="form-control" name="abdominal" value="mm">
                <label for="suprailiaca">Suprailiaca</label>
                <input type="number" class="form-control" name="suprailiaca" value="mm">
                <label for="coxa">Coxa</label>
                <input type="number" class="form-control" name="coxa" value="mm">
                <label for="tricipital">Tricipital</label>
                <input type="number" class="form-control" name="tricipital" value="mm">
            </div>
        </div>
        <div class="card mt-4 padding" >
            <h3>Diâmetros do punho e fêmur (CM)</h3>
            <div class="card-body">
                <label for="dbru">Diâmetro bisetilóide radio ulnar</label>
                <input type="number" class="form-control" name="dbru">
                <label for="dbdf">Diâmetro biepicondiliano do fêmur</label>
                <input type="number" class="form-control" name="dbdf">
            </div>
        </div>
        <div class="card mt-4 padding" >
            <h3>Circunferências (CM)</h3>
            <div class="card-body">
                <label for="circunPunho">Punho</label>
                <input type="number" class="form-control" name="circunPunho">
                <label for="circunQuadril">Quadril</label>
                <input type="number" class="form-control" name="circunQuadril">
                <label for="circunCintura">Cintura</label>
                <input type="number" class="form-control" name="circunQuadril">
            </div>
        </div>
        <button class="btn btn-dark mt-4" type="submit" >Salvar</button>
    </form>
</div>